<form>
<div class="panel panel-default">
    <div class="panel-heading">Authors search</div>
    <div class="panel-body">
        <div ng-controller="AlertCtrl">
            <div uib-alert ng-repeat="alt in alerts" ng-class="'alert-' + (alt.type || 'warning')" close="closeAlert($index)">
                {{alt.message}}
            </div>
        </div>
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" ng-model="searchParam">
            </div>
            <label for="buttonSelect"> by filter: </label>
            <div class="btn-group" id="buttonSelect">
                <label class="btn btn-success" ng-model="filter" uib-btn-radio="'none'" >None</label>
                <label class="btn btn-success" ng-model="filter" uib-btn-radio="'name'" >Name</label>
                <label class="btn btn-success" ng-model="filter" uib-btn-radio="'surname'" >Surname</label>
            </div>
            <button type="submit" class="btn btn-default" ng-click="searchAuthors()">Search</button>
        </form>
    </div>
</div>
</form>