<div>

    <div class="jumbotron text-center">
        <h1>Art Gallery</h1>
        <p>Is a project for Roma Tre University. We would like to thank the professor
            Paolo Merialdo for the opportunity to experience new things.
        </p>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h2>About Us</h2>
            <h4>Paolo Calao :  <a href="mailto:paolo.calao@gmail.com"> paolo.calao@gmail.com </a></h4>
            <h4>Marco Tais : <a href="mailto:mar.tais@stud.uniroma3.it""> mar.tais@stud.uniroma3.it </a></h4>
        </div>
        <div class="col-sm-2">
            <span class="glyphicon glyphicon-user logo"></span>
        </div>
        <div class="col-sm-2">
            <span class="glyphicon glyphicon-user logo"></span>
        </div>
    </div>
</div>

<div class="container-fluid bg-grey">
    <div class="row">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-blackboard logo"></span>
        </div>
        <div class="col-sm-8">
            <p><strong>Specifiche del progetto:</strong> Si vuole realizzare il sistema informativo su Web per la
                gestione di una piccola galleria d’arte.Possono accedere al sistema utenti generici e un
                amministratore.L’amministratore, previa autenticazione, può inserire e rimuovere le informazioni
                relative alle opere d’arte presenti nella galleria; per semplicità supponiamo che le opere d’arte siano
                quadri e che per ciascuno di essi siano di interesse il titolo, l’anno in cui è stato realizzato, la
                tecnica, le dimensioni, l’autore. Dell’autore sono di interesse nome, cognome, nazionalità data di
                nascita e data di morte.L’utente generico può accedere alle informazioni della galleria attraverso
                diversi percorsi di navigazione, opportunamente predisposti (ad esempio, per autore, oppure per anno,
                etc.)</p>
        </div>
    </div>
</div>