<form>
    <div class="panel panel-default">
        <div class="panel-heading">Paintings search</div>
        <div class="panel-body">
            <div ng-controller="AlertCtrl">
                <div uib-alert ng-repeat="alt in alerts" ng-class="'alert-' + (alt.type || 'warning')" close="closeAlert($index)">
                    {{alt.message}}
                </div>
            </div>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group" ng-hide="filter === 'author'">
                    <input type="text" class="form-control" placeholder="Search" ng-model="searchParam">
                </div>
                <!-- Select Author -->
                <div class="form-group" ng-show="filter === 'author'">
                    <label class="col-md-4 control-label" for="selectautor">Select an Author</label>
                    <select name="selectautor" class="form-control" id="selectautor" ng-model="paintingAuthor.selected">
                        <option ng-repeat="author in paintingAuthor.availableAuthors" ng-value="author">{{author.name + " " + author.surname}}</option>
                    </select>
                </div>
                <label for="buttonSelect"> by filter: </label>
                <div class="btn-group" id="buttonSelect">
                    <label class="btn btn-danger" ng-model="filter" ng-click="searchPaintings()" uib-btn-radio="'none'" >None</label>
                    <label class="btn btn-success" ng-model="filter" uib-btn-radio="'title'" >Title</label>
                    <label class="btn btn-success" ng-model="filter" uib-btn-radio="'medium'" >Medium</label>
                    <label class="btn btn-success" ng-model="filter" uib-btn-radio="'year'" >Year</label>
                    <label class="btn btn-success" ng-model="filter" uib-btn-radio="'author'" >Author</label>
                </div>
                <button type="submit" class="btn btn-default" ng-click="searchPaintings()">Search</button>
            </form>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-sm-12 col-md-12">
        <label for="selectN">Number of paintings per page:</label>
        <select id="selectN" name="selectN" ng-model="numberPaintingsInPage" convert-to-number>
            <option value="3">3</option>
            <option value="6">6</option>
            <option value="9">9</option>
            <option value="12">12</option>
        </select>
    </div>
    <div class="col-sm-12 col-md-12">
        <ul uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
    </div>
    <div class="col-sm-4 col-md-4" ng-repeat-start="painting in paginatedList[currentPage-1]">
        <div class="thumbnail">
            <div class="embed-responsive embed-responsive-4by3">
                <img class="embed-responsive-item" ng-src="/artgallery/pictures/id/{{painting.id}}" alt="image"
                     onerror="this.src='/artgallery/static/images/default.png'"
                     ng-click="openPictureModal(painting.id)">
            </div>
            <div class="caption">
                <md-button class="pull-right" ng-click="setIndex($index)">
                    <i ng-class="{'fa fa-plus-square': paintingIndex != $index, 'fa fa-minus-square': paintingIndex == $index}"
                       aria-hidden="true"></i></md-button>
                <h4>
                    <p>{{"Title: " + painting.title}}</p>
                    <p>{{"Author: "}}
                        <a href="#!/author-profile" ng-click="setCurrentAuthor(painting.author)" >{{painting.author.name + " " + painting.author.surname}}</a>
                    </p>
                </h4>
                <div ng-show="paintingIndex == $index">
                    <hr>
                    <p>{{"Dimensions: " + painting.width + "x" + painting.height + "cm"}}</p>
                    <p>{{"Medium: " + painting.medium}}</p>
                    <p>{{"Year: " + painting.year}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix" ng-if="($index+1)%3==0"></div>
    <div ng-repeat-end=""/>
</div>
<div class="col-md-12 col-sm-12">
    <ul uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
</div>