<form>
    <div class="panel panel-default">
        <div class="bottom-spacer pull-right">
            <button class="btn" uib-tooltip="Add new painting" ng-click="openModifyModal()"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></button>
        </div>
        <div class="panel-heading">Paintings</div>
        <div class="panel-body">
            <div ng-controller="AlertCtrl">
                <div uib-alert ng-repeat="alt in alerts" ng-class="'alert-' + (alt.type || 'warning')" close="closeAlert($index)">
                    {{alt.message}}
                    <br>
                    <div ng-repeat="info in alertInfo"> 
                    {{info}}
                    <br>
                    </div>
                </div>               
            </div>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" ng-model="searchParam">
                </div>
                <label for="repeatSelect"> by: </label>
                <select name="repeatSelect" id="repeatSelect" ng-model="paintingFilter.selected">
                    <option ng-repeat="filter in paintingFilter.availableFilters" value="{{filter}}">{{filter}}</option>
                </select>
                <button type="submit" class="btn btn-default" ng-click="searchPaintings()">Submit</button>
            </form>
        </div>
        <table class="table table-bordered table-condensed">
            <thead>
            <tr class="grey-header">
                <th>#</th>
                <th>Picture</th>
                <th>Title</th>
                <th>Dimensions</th>
                <th>Medium</th>
                <th>Year</th>
                <th>Author</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="painting in paintingList">
                <th scope="row">{{$index+1}}</th>
                <td class="col-md-1"><img ng-src="/artgallery/pictures/id/{{painting.id}}" alt="image"
                         onerror="this.src='/artgallery/static/images/default.png'" width="30" height="30"/></td>
                <td>{{painting.title}}</td>
                <td>{{painting.width + "x" + painting.height}}</td>
                <td>{{painting.medium}}</td>
                <td>{{painting.year}}</td>
                <td>{{painting.author.name + " " + painting.author.surname}}</td>
                <td>
                    <a href="" ng-click="openModifyModal(painting)" class="action-icon" uib-tooltip="Edit"><i class="fa fa-edit fa-lg edit" aria-hidden="true"></i></a>
                    <a href="" ng-click="openDeleteModal(painting)" class="action-icon" uib-tooltip="Delete"><i class="fa fa-trash fa-lg delete" aria-hidden="true"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
        <p ng-hide="paintingList.length">No Paintings found</p>
    </div>
</form>
