<form class="navbar-form navbar-left" role="search">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" ng-model="searchParam">
    </div>
    <label for="repeatSelect"> by: </label>
    <select name="repeatSelect" id="repeatSelect" ng-model="paintingFilter.selected">
        <option ng-repeat="filter in paintingFilter.availableFilters" value="{{filter}}">{{filter}}</option>
    </select>
    <button type="submit" class="btn btn-default" ng-click="searchPaintings()">Submit</button>
</form>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-condensed">
            <thead>
            <tr class="grey-header">
                <th>#</th>
                <th>Picture</th>
                <th>Title</th>
                <th>Dimensions</th>
                <th>Medium</th>
                <th>Year</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="painting in paintingList">
                <th scope="row">{{$index+1}}</th>
                <td><img ng-src="/artgallery/pictures/id/{{painting.id}}" alt="image"
                         onerror="this.src='/artgallery/static/images/default.png'" width="50" height="50"/></td>
                <td>{{painting.title}}</td>
                <td>{{painting.width + "x" + painting.height}}</td>
                <td>{{painting.medium}}</td>
                <td>{{painting.year}}</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
