<div class="panel panel-default">
	<div class="panel-heading">Rooms</div>
	<div class="panel-body">
		<uib-accordion close-others="true">
			<div uib-accordion-group class="panel-default" ng-repeat="room in roomList">
				<uib-accordion-heading> 
					<span ng-click="open($index,room)">
						{{room.name}}
					</span>
				</uib-accordion-heading>
				<div class="row">
   					<div class="col-sm-4 col-md-4" ng-repeat-start="painting in paintingList">
     			  		<div class="thumbnail" height="100" width="100">
	   			    		<div class="embed-responsive embed-responsive-4by3">
        				    	<img class="embed-responsive-item" ng-src="/artgallery/pictures/id/{{painting.id}}" alt="image"
        	    		    	 onerror="this.src='/artgallery/static/images/default.png'"
        	    		    	 ng-click="openPictureModal(painting.id)"> 
        					</div>
            				<div class="caption">
       							<md-button class="pull-right" ng-click="setIndex($index)">
       							<i ng-class="{'fa fa-plus-square': paintingIndex != $index, 'fa fa-minus-square': paintingIndex == $index}"
       							aria-hidden="true"></i></md-button>
            					<h4>
               	 					<p>{{"Title: " + painting.title}}</p>
               						<p>{{"Author: " + painting.author.name + " " + painting.author.surname}}</p>
               					</h4>
  								<div ng-show="paintingIndex == $index">
  									<hr>
                						<p>{{"Dimensions: " + painting.width + "x" + painting.height + "cm"}}</p>
                						<p>{{"Medium: " + painting.medium}}</p>
                						<p>{{"Year: " + painting.year}}</p>
               					</div>
            				</div>
        				</div>
    				</div>
   				<div class="clearfix" ng-if="($index+1)%3==0"></div>
    			<div ng-repeat-end=""/>
			</div>
		</div>
	</uib-accordion>
</div>