<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{title}}</h3>
</div>
<div class="modal-body" id="modal-body">

    <form class="form-horizontal">
        <fieldset>
		
			<div class="row text-danger">
                {{errName}}
            </div>
            <!-- Name input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="nameinput">Name*</label>
                <div class="col-md-4">
                    <input id="nameinput" name="nameinput" type="text" placeholder="Author name" class="form-control input-md" ng-model="newName">

                </div>
            </div>

			<div class="row text-danger">
                {{errSurname}}
            </div>
            <!-- Surname input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="surnameinput">Surname*</label>
                <div class="col-md-4">
                    <input id="surnameinput" name="surnameinput" type="text" placeholder="surname" class="form-control input-md" ng-model="newSurname">

                </div>
            </div>

			<div class="row text-danger">
                {{errMonth + "\t" + errYear}}
            </div>
            <!-- Birthdate input-->
            <label class="col-md-2 control-label" for="birthdateinput">Birthdate*</label>
            <div class="form-group" id="birthdateinput" name="birthdateinput">
                <label class="col-md-2 control-label" for="monthinput">Month</label>
                <div class="col-md-2">
                    <input id="monthinput" name="monthinput" type="text" placeholder="" class="form-control input-md" ng-model="newMonth">
                </div>
                <label class="col-md-1 control-label" for="yearinput">Year</label>
                <div class="col-md-2">
                    <input id="yearinput" name="yearinput" type="text" placeholder="" class="form-control input-md" ng-model="newYear">
                </div>
            </div>

			<div class="row text-danger">
                {{errDMonth + "\t" + errDYear}}
            </div>
            <!-- Deathdate input-->
            <label class="col-md-2 control-label" for="deathdateinput">Deathdate</label>
            <div class="form-group" id="deathdateinput" name="deathdateinput">
                <label class="col-md-2 control-label" for="monthdinput">Month</label>
                <div class="col-md-2">
                    <input id="monthdinput" name="monthdinput" type="text" placeholder="" class="form-control input-md" ng-model="newDMonth">
                </div>
                <label class="col-md-1 control-label" for="yeardinput">Year</label>
                <div class="col-md-2">
                    <input id="yeardinput" name="yeardinput" type="text" placeholder="" class="form-control input-md" ng-model="newDYear">
                </div>
            </div>

			<div class="row text-danger">
                {{errBiography}}
            </div>
            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="bioinput">Biography</label>
                <div class="col-md-4">
                    <textarea class="form-control" id="bioinput" name="bioinput" style="resize: none;" ng-model="newBiography">default</textarea>
                </div>
            </div>

            <!-- Picture input-->
            <div class="form-group jumbotron">
                <label class="col-md-4 control-label">Current Author Picture</label>
                <div class="col-md-8">
                    <img ng-src="{{getPortraitSource()}}" alt="image" height="100" width="150"
                         onerror="this.src='/artgallery/static/images/default-profile.jpg'"/>
                </div>
                <input type="file" file-model="newFile"/>
            </div>
            
            <div class="row text-info">Fields marked by * are required</div>

        </fieldset>
    </form>


</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>

