.modal {
	text-align: center;
}

.modal-custom {
	width: auto;
	overflow: auto;
	max-width: 80%;
	max-height: 80%;
	display: inline-block;
}

.modal-custom .image-wrapper {
	text-align: center;
}

.modal-custom .image-wrapper img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}